{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Smart | {% block title %}  {% endblock title %} </title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}">

  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <!-- <link rel="icon" href="{% static 'favicons/favicon2.ico'  %}"> -->

  <link href="{% static 'csss/bootstrap.min.css'  %}" rel="stylesheet">

  <link href="{% static 'csss/mdb.min.css' %}" rel="stylesheet">

  <link href="{% static 'csss/style.min.css' %}" rel="stylesheet">

  <link href="{% static 'style.css' %}" rel="stylesheet">

  <style type="text/css">
    /* Necessary for full page carousel*/
    html,
    body,
    header,
    .view {
      height: 100%;
    }

    /* Carousel*/
    .carousel,
    .carousel-item,
    .carousel-item.active {
      height: 100%;
    }
    .carousel-inner {
      height: 100%;
    }

    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
          background: #1C2331!important;
      }
  }

  </style>
</head>

<body>
  {% include 'user_templates/navbar.html' %}

  {% block content %}

  {% endblock content %}

  {% block extra_content %}

  {% endblock extra_content %}

  {% include 'user_templates/footer.html' %}

<!-- JQuery -->  
<script type="text/javascript" src="{% static 'jss/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'jss/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'jss/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'jss/mdb.min.js' %}"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();
</script>

{% block custom_js %}

{% endblock custom_js %}
</body>

</html>
