{% extends 'user_templates/base3.html' %}
{% load static %}

{% block app_title %}
    Dashboard
{% endblock app_title %}


{% block content %}

{% if request.user.account_type == '3'%}

	<!-- Dashboard Container -->
	<div class="dashboard-container">

		{% include 'user_templates/seller_sidebar.html' with reviews=reviews %}

		<!-- Dashboard Content
		================================================== -->
		<div class="dashboard-content-container" data-simplebar>
			<div class="dashboard-content-inner" >
				
				<!-- Dashboard Headline -->
				<div class="dashboard-headline">
				{% if empty == 0 %}
					<h3>Howdy {{request.user.username}}, freelancers welcomes you!</h3>
					<span>We are so glad you could join us!</span>
					<span>Create your first service now!</span>
				{% else %}
					<h3>Howdy, {{request.user.username}}! </h3>
					<span>We are glad to see you again!</span>
				{% endif %}
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs" class="dark">
						<ul>
							<li><a href="{% url 'smart_home' %}">Home</a></li>
							<li><a href="{% url 'user_profile' %}">Dashboard</li></a>
						</ul>
					</nav>
				</div>
				<!-- Fun Facts Container -->
				<div class="fun-facts-container">
					<div class="fun-fact" data-fun-fact-color="#36bd78">
						<div class="fun-fact-text">
							<span>Done Tasks</span>
							<h4>22</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-gavel"></i></div>
					</div>
					<div class="fun-fact" data-fun-fact-color="#b81b7f">
						<div class="fun-fact-text">
							<span> Active Tasks</span>
							<h4>4</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-business-center"></i></div>
					</div>
					<div class="fun-fact" data-fun-fact-color="#efa80f">
						<div class="fun-fact-text">
							<span>Reviews</span>
							<h4>28</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-rate-review"></i></div>
					</div>

					<!-- Last one has to be hidden below 1600px, sorry :( -->
					<div class="fun-fact" data-fun-fact-color="#2a41e6">
						<div class="fun-fact-text">
							<span>This Month Views</span>
							<h4>987</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
					</div>
				</div>

				<br>

				<!-- Fun Facts Container -->
				<div class="fun-facts-container">
					<div class="fun-fact" data-fun-fact-color="#36bd78">
						<div class="fun-fact-text">
							<span>Services Created</span>
							<h4>22</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-gavel"></i></div>
					</div>
					<div class="fun-fact" data-fun-fact-color="#b81b7f">
						<div class="fun-fact-text">
							<span> Services Ordered</span>
							<h4>4</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-business-center"></i></div>
					</div>
					<div class="fun-fact" data-fun-fact-color="#efa80f">
						<div class="fun-fact-text">
							<span>Total Bidders</span>
							<h4>28</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-rate-review"></i></div>
					</div>
					<!-- Last one has to be hidden below 1600px, sorry :( -->
					<div class="fun-fact" data-fun-fact-color="#2a41e6">
						<div class="fun-fact-text">
							<span>This Month Views</span>
							<h4>987</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
					</div>
				</div>
	

				<!-- Row -->
				<div class="row">

					<!-- Dashboard Box -->
					<div class="col-xl-12">
						<div class="dashboard-box">
							<div class="headline">
								<h3><i class="icon-material-outline-assignment"></i> Active Bidders</h3>
							</div>
							<div class="content">
								<ul class="dashboard-box-list">
									<li>
										<div class="invoice-list-item">
										<strong>Professional Plan</strong>
											<ul>
												<li><span class="unpaid">Unpaid</span></li>
												<li>Order: #326</li>
												<li>Date: 12/08/2019</li>
											</ul>
										</div>
										<!-- Buttons -->
										<div class="buttons-to-right">
											<a href="pages-checkout-page.html" class="button">Finish Payment</a>
										</div>
									</li>
									<li>
										<div class="invoice-list-item">
										<strong>Professional Plan</strong>
											<ul>
												<li><span class="paid">Paid</span></li>
												<li>Order: #264</li>
												<li>Date: 10/07/2019</li>
											</ul>
										</div>
										<!-- Buttons -->
										<div class="buttons-to-right">
											<a href="pages-invoice-template.html" class="button gray">View Invoice</a>
										</div>
									</li>
									<li>
										<div class="invoice-list-item">
										<strong>Professional Plan</strong>
											<ul>
												<li><span class="paid">Paid</span></li>
												<li>Order: #211</li>
												<li>Date: 12/06/2019</li>
											</ul>
										</div>
										<!-- Buttons -->
										<div class="buttons-to-right">
											<a href="pages-invoice-template.html" class="button gray">View Invoice</a>
										</div>
									</li>
									<li>
										<div class="invoice-list-item">
										<strong>Professional Plan</strong>
											<ul>
												<li><span class="paid">Paid</span></li>
												<li>Order: #179</li>
												<li>Date: 06/05/2019</li>
											</ul>
										</div>
										<!-- Buttons -->
										<div class="buttons-to-right">
											<a href="pages-invoice-template.html" class="button gray">View Invoice</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
				<!-- Row / End -->

				{% include 'user_templates/footer_dashboard.html'%}

			</div>
		</div>
		<!-- Dashboard Content / End -->

	</div>
	<!-- Dashboard Container / End -->


{% elif request.user.account_type == '2' %}

	<!-- Dashboard Container -->
	<div class="dashboard-container">

		{% include 'user_templates/buyer_sidebar.html' %}
		
		<!-- Dashboard Content
		================================================== -->
		<div class="dashboard-content-container" data-simplebar>
			<div class="dashboard-content-inner" >
				
				<!-- Dashboard Headline -->
				<div class="dashboard-headline">
					<h3>Howdy, {{request.user.username}}!</h3>
					<span>Welcome back!</span>

					<!-- Breadcrumbs -->
					<nav id="breadcrumbs" class="dark">
						<ul>
							<li><a href="{% url 'smart_home' %}">Home</a></li>
							<li><a href="{% url 'user_profile' %}">Dashboard</a></li>
						</ul>
					</nav>
				</div>
		
				<!-- Fun Facts Container -->
				<div class="fun-facts-container">
					<div class="fun-fact" data-fun-fact-color="#36bd78">
						<div class="fun-fact-text">
							<span>Total Tasks posted</span>
							<h4>22</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-gavel"></i></div>
					</div>

					<div class="fun-fact" data-fun-fact-color="#b81b7f">
						<div class="fun-fact-text">
							<span> Freelancers reviewed </span>
							<h4>4</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-business-center"></i></div>
					</div>
					
					<div class="fun-fact" data-fun-fact-color="#efa80f">
						<div class="fun-fact-text">
							<span>Total reviews given out</span>
							<h4>28</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-rate-review"></i></div>
					</div>

					<!-- Last one has to be hidden below 1600px, sorry :( -->
					<div class="fun-fact" data-fun-fact-color="#2a41e6">
						<div class="fun-fact-text">
							<span>This Month Views</span>
							<h4>987</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
					</div>
				</div>

				<br><hr style = "background-color:bisque; border-radius: 2px;"><br>

				<!-- Fun Facts Container continued -->
				<div class="fun-facts-container">
					<div class="fun-fact" data-fun-fact-color="#36bd78">
						<div class="fun-fact-text">
							<span>Active Tasks</span>
							<h4>22</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-rate-review"></i></div>
					</div>

					<div class="fun-fact" data-fun-fact-color="#b81b7f">
						<div class="fun-fact-text">
							<span> Active charge </span>
							<h4>4</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-material-outline-gavel"></i></div>
					</div>
					
					<div class="fun-fact" data-fun-fact-color="#efa80f">
						<div class="fun-fact-text">
							<span>Total amount paid out</span>
							<h4>28</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
					</div>

					<!-- Last one has to be hidden below 1600px, sorry :( -->
					<div class="fun-fact" data-fun-fact-color="#2a41e6">
						<div class="fun-fact-text">
							<span>This Month Views</span>
							<h4>987</h4>
						</div>
						<div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
					</div>
				</div>
		
				{% include 'user_templates/footer_dashboard.html'%}

			</div>
		</div>
		<!-- Dashboard Content / End -->

	</div>
	<!-- Dashboard Container / End -->


{% endif %}


{% endblock content %}


{% block custom_js %}

    <!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
    <script src="{% static 'js2/chart.min.js' %}"></script>

    <script>
        Chart.defaults.global.defaultFontFamily = "Nunito";
        Chart.defaults.global.defaultFontColor = '#888';
        Chart.defaults.global.defaultFontSize = '14';

        var ctx = document.getElementById('chart').getContext('2d');

        var chart = new Chart(ctx, {
            type: 'line',

            // The data for our dataset
            data: {
                labels: ["January", "February", "March", "April", "May", "June"],
                // Information about the dataset
                datasets: [{
                    label: "Views",
                    backgroundColor: 'rgba(42,65,232,0.08)',
                    borderColor: '#2a41e8',
                    borderWidth: "3",
                    data: [196,132,215,362,210,252],
                    pointRadius: 5,
                    pointHoverRadius:5,
                    pointHitRadius: 10,
                    pointBackgroundColor: "#fff",
                    pointHoverBackgroundColor: "#fff",
                    pointBorderWidth: "2",
                }]
            },

            // Configuration options
            options: {

                layout: {
                padding: 10,
                },

                legend: { display: false },
                title:  { display: false },

                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: false
                        },
                        gridLines: {
                            borderDash: [6, 10],
                            color: "#d8d8d8",
                            lineWidth: 1,
                        },
                    }],
                    xAxes: [{
                        scaleLabel: { display: false },  
                        gridLines:  { display: false },
                    }],
                },

                tooltips: {
                backgroundColor: '#333',
                titleFontSize: 13,
                titleFontColor: '#fff',
                bodyFontColor: '#fff',
                bodyFontSize: 13,
                displayColors: false,
                xPadding: 10,
                yPadding: 10,
                intersect: false
                }
            },


    });

    </script>

{% endblock custom_js %}