{% extends 'user_templates/base3.html' %}
{% load static %}

{% block app_title %}
  Update Service
{% endblock app_title %}


{% block content %}

{% if request.user.account_type == '3'%}

	<!-- Dashboard Container -->
	<div class="dashboard-container">

		{% include 'user_templates/seller_sidebar.html' with reviews=reviews %}


    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
      <div class="dashboard-content-inner" >
        
        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
          <h3>Edit Service</h3>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs" class="dark">
            <ul>
			  <li><a href="{% url 'smart_home' %}">Home</a></li>
              <li><a href="{% url 'user_profile' %}">Dashboard</li></a>
              <li> Update Service </li>
			</ul>
          </nav>
        </div>
    
        <!-- Row -->
        <form class = "row" method = "POST" action = "{% url 'edit_service_save' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Dashboard Box -->
            <div class="col-xl-12">
              <div class="dashboard-box margin-top-0">

                <!-- Headline -->
                <div class="headline">
                  <h3><i class="icon-feather-folder-plus"></i> Service Update Form</h3>
                </div>

                <div class="content with-padding padding-bottom-10">
                    <div class="row">

                        <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Service Title</h5>
                            <input type="text" class="with-border" placeholder="e.g. Landing Page Service" name = "title" id = "title" required value = {{service.title}}>
                            <input type = "hidden" name = "service_id" value = "{{service.id}}">
                        </div>
                        </div>

                        <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Delivery Days</h5>
                            <select class="selectpicker with-border" title="Select Days" name = "days" id="days" required>
                            {% for day in days %}
                                <option value = {{day.id}} {% if day.days == service.days.days %} selected {% endif %}> {{day}} </option>
                            {% endfor %}
                            </select>
                        </div>
                        </div>

                        <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Category</h5>
                            <select class="selectpicker with-border" title="Select Category" name = "cat" id="cat_id" disabled>
                            {% for cat in categories %}
                                <option value = {{cat.id}} {% if cat.category_title == service.category.category_title %} selected {% endif %}> {{cat.category_title}} </option>
                            {% endfor %}
                            </select>
                        </div>
                        </div>

                        <div class = "col-xl-4">
                        <div class="submit-field">
                            <h5>Sub category</h5>
                            <select class = "selectpicker with-border" title = "Select Subcategory" name = "sub_cat" id="sub_cat_id" disabled>
                            {% for cat in sub_categories %}
                                <option value = {{cat.id}} {% if cat.sub_category_title == service.sub_category.sub_category_title %} selected {% endif %}> {{cat.sub_category_title}} </option>
                            {% endfor %}
                            </select>
                        </div>
                        </div>

                        <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Plan</h5>
                            <select class="selectpicker with-border" title="Select Plan" name = "plan" id="plan" required>
                            {% for plan in plans %}
                                <option value = {{plan.id}} {% if plan.plan_name == service.plan.plan_name %} selected {% endif %}> {{plan.plan_name}} </option>
                            {% endfor %}
                            </select>
                        </div>
                        </div>

                        <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Budget</h5>
                            <div class="input-with-icon">
                            <input class="with-border" type="text" placeholder="Fixed" name = "charge" id = "charge" required value="{{service.charge}}">
                            <i class="currency">USD</i>
                            </div>
                        </div>
                        </div>

                        <br>

                        <div class="col-xl-12">

                        <div class="submit-field">
                            <h5>Describe Your Service</h5>
                            <textarea cols="30" rows="5" class="with-border" name = "description" id = "description" required value = {{service.description}}>{{service.description}}</textarea>
                        </div>

                        </div>

                        <div class = "col-xl-12">

                        <h5><b> Upload Image that best describes your service </b></h5> <hr>

                            <div class = "col-xl-4">
                            <div class = "submit-field">
                                <div class="uploadButton margin-top-30">
                                <input class="uploadButton-input" type="file" name = "image1" id="image1"/>
                                <label class="uploadButton-button ripple-effect" for = "image1">Upload Image 1 </label>
                                <!-- <span class="uploadButton-file-name"> Main Image</span> -->
                                </div>
                            </div>

                            <div class = "submit-field">
                                <div class="uploadButton margin-top-30">
                                <input class="uploadButton-input" type="file" name = "image2" id="image2"/>
                                <label class="uploadButton-button ripple-effect" for = "image2">Upload Image 2 </label>
                                <!-- <span class="uploadButton-file-name"> Main Image</span> -->
                                </div>
                            </div>

                            <div class = "submit-field">
                                <div class="uploadButton margin-top-30">
                                <input class="uploadButton-input" type="file" name = "image3" id="image3"/>
                                <label class="uploadButton-button ripple-effect" for = "image3">Upload Image 3 </label>
                                <!-- <span class="uploadButton-file-name"> Main Image</span> -->
                                </div>
                            </div>

                            </div>
                        </div>

                    </div>
                </div>
              </div>
            </div>

            <div class = "row">
              {% if messages %}
                  <div class = "col-xl-12">
                      {% for message in messages %}
                          {% if message.tags == 'error' %}
                              <div class = "alert alert-danger mt-4 ml-3 text-dark" style = "width:100%;">
                                  {{message}}
                              </div>
                          {% endif %}
                          {% if message.tags == 'success' %}
                              <div class = "alert alert-success ml-3 mt-4 text-dark" style = "width:100%;">
                                  {{message}}
                              </div>
                          {% endif %}
                      {%endfor %}
                  </div>              
              {% endif %}
            </div>

            <div class="col-xl-12">
              <button type = "submit" class="ml-1 button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Save Changes </button>
            </div>

        </form>

        <!-- Row / End -->

      {% include 'user_templates/footer_dashboard.html'%}

      </div>
    </div>
    <!-- Dashboard Content / End -->
		
	</div>
  <!-- Dashboard Container / End -->
  
{% endif %}

{% endblock content %}



{% block custom_js %}


{% endblock custom_js %}
