{% extends 'user_templates/base2.html' %}
{% load static %}

{% block app_title %}
    Services
{% endblock app_title %}


{% block content %}



<!-- Intro Banner
================================================== -->
<div class="intro-banner dark-overlay" data-background-image="{% static 'images2/home-background-02.jpg' %}">

	<!-- Transparent Header Spacer -->
	<div class="transparent-header-spacer"></div>

	<div class="container">
		
		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h3>
						<strong>Hire expert freelancers for any job, any time.</strong>
					</h3>
				</div>
			</div>
		</div>
		
		<!-- Search Bar -->
		<div class="row">
			<div class="col-md-12">
				<form class="intro-banner-search-form margin-top-95" method = "POST" action = "{% url 'search' %}"> {% csrf_token %}

					<!-- Search Field -->
					<div class="intro-search-field">
						<select class="selectpicker" title="All Categories" name = "search">
							{% for cat in categories %}
								<option value = {{cat.category_title}}> {{ cat.category_title }} </option>
							{% endfor %}
						</select>
					</div>

					<!-- Button -->
					<div class="intro-search-button">
						<button class="button ripple-effect" type = "submit">Search</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Stats -->
		<div class="row">
			<div class="col-md-12">
				<ul class="intro-stats margin-top-45 hide-under-992px">
					<li>
						<strong class="counter">{{serv}}</strong>
						<span>Freelancing services</span>
					</li>
					<li>
						<strong class="counter">{{freelancers}}</strong>
						<span>Freelancers</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

<!-- Spacer -->
<div class="margin-top-90"></div>
<br><br>
<!-- Spacer / End-->


<!-- Page Content
================================================== -->

<div class="container">
	<div class="row">
		<!-- <div class="col-xl-3 col-lg-4">

			<div class="sidebar-container">
				
				 Location
				<div class="sidebar-widget">
					<h3>Location</h3>
					<div class="input-with-icon">
						<div id="autocomplete-container">
							<input id="autocomplete-input" type="text" placeholder="Location">
						</div>
						<i class="icon-material-outline-location-on"></i>
					</div>
				</div>

				 Category
				<div class="sidebar-widget">
					<h3>Category</h3>
					<select class="selectpicker default" multiple data-selected-text-format="count" data-size="7" title="All Categories" >
						<option>Admin Support</option>
						<option>Customer Service</option>
						<option>Data Analytics</option>
						<option>Design & Creative</option>
						<option>Legal</option>
						<option>Software Developing</option>
						<option>IT & Networking</option>
						<option>Writing</option>
						<option>Translation</option>
						<option>Sales & Marketing</option>
					</select>
				</div>

				Keywords
				<div class="sidebar-widget">
					<h3>Keywords</h3>
					<div class="keywords-container">
						<div class="keyword-input-container">
							<input type="text" class="keyword-input" placeholder="e.g. task title"/>
							<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
						</div>
						<div class="keywords-list"></div>
						<div class="clearfix"></div>
					</div>
				</div>

				Budget
				<div class="sidebar-widget">
					<h3>Fixed Price</h3>
					<div class="margin-top-55"></div>

					Range Slider
					<input class="range-slider" type="text" value="" data-slider-currency="$" data-slider-min="10" data-slider-max="2500" data-slider-step="25" data-slider-value="[10,2500]"/>
				</div>

				Hourly Rate
				<div class="sidebar-widget">
					<h3>Hourly Rate</h3>
					<div class="margin-top-55"></div>

					Range Slider
					<input class="range-slider" type="text" value="" data-slider-currency="$" data-slider-min="10" data-slider-max="150" data-slider-step="5" data-slider-value="[10,200]"/>
				</div>

				 Tags
				<div class="sidebar-widget">
					<h3>Skills</h3>

					<div class="tags-container">
						<div class="tag">
							<input type="checkbox" id="tag1"/>
							<label for="tag1">front-end dev</label>
						</div>
						<div class="tag">
							<input type="checkbox" id="tag2"/>
							<label for="tag2">angular</label>
						</div>
						<div class="tag">
							<input type="checkbox" id="tag3"/>
							<label for="tag3">react</label>
						</div>
						<div class="tag">
							<input type="checkbox" id="tag4"/>
							<label for="tag4">vue js</label>
						</div>
						<div class="tag">
							<input type="checkbox" id="tag5"/>
							<label for="tag5">web apps</label>
						</div>
						<div class="tag">
							<input type="checkbox" id="tag6"/>
							<label for="tag6">design</label>
						</div>
						<div class="tag">
							<input type="checkbox" id="tag7"/>
							<label for="tag7">wordpress</label>
						</div>
					</div>
					<div class="clearfix"></div>

					More Skills
					<div class="keywords-container margin-top-20">
						<div class="keyword-input-container">
							<input type="text" class="keyword-input" placeholder="add more skills"/>
							<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
						</div>
						<div class="keywords-list">keywords go here</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div> -->
		
		<div class="col-xl-12 col-lg-12 content-left-offset">

			<h3 class="page-title">Search Results: {{serv}}</h3>

			<div class="notify-box margin-top-15">
				<div class="switch-container">
					<label> Filtered Searches </label>
				</div>

				<div class="sort-by">
					<span>Sort by:</span>
					<select class="selectpicker hide-tick">
						<option> Relevance </option>
					</select>
				</div>
			</div>
			
			<!-- Tasks Container -->
			<div class="tasks-list-container compact-list margin-top-35">
				
				<!-- Task -->
				{% for service in pages %}
					<a href="{% url 'service_detail' service.id %}" class="task-listing">

						<!-- Job Listing Details -->
						<div class="task-listing-details">

							<!-- Details -->
							<div class="task-listing-description">
								<h3 class="task-listing-title"> {{service.title}} </h3>
								<ul class="task-icons">
									<li><i class="icon-material-outline-location-on"></i> {{ service.owner.address }}</li>
									<li><i class="icon-material-outline-access-time"></i> {{service.created|timesince}} ago</li>
								</ul>
								<p class="task-listing-text">{{service.description}}.</p>
								<div class="task-tags">
									<span>iOS</span>
									<span>Android</span>
									<span>mobile apps</span>
									<span>design</span>
								</div>
							</div>

						</div>

						<div class="task-listing-bid">
							<div class="task-listing-bid-inner">
								<div class="task-offers">
									<strong> ${{service.charge}} </strong>
									<span>Orders In Que : <b style = "color:blue;">({{service.get_number_orders}})</b></span>
								</div>
								<span class="button button-sliding-icon ripple-effect"> Check This! <i class="icon-material-outline-arrow-right-alt"></i></span>
							</div>
						</div>
					</a>
				{% endfor %}
				<!-- Task end  -->

			</div>
			<!-- Tasks Container / End -->


			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<div class="pagination-container margin-top-60 margin-bottom-60">
						<nav class="pagination">
							<ul>
							{% if pages.has_previous %}
							<li class="pagination-arrow">
								<a href="?page={{pages.previous_page_number}}" class="ripple-effect">
									<i class="icon-material-outline-keyboard-arrow-left"></i>
								</a>
							</li>
							{% endif %}

							{% for page in pages.paginator.page_range %}
								{% if pages.number == page %}
								<li><a href="?page={{page}}" class="current-page ripple-effect"> {{page}}</a></li>

								{% else %}
								<li><a href="?page={{page}}" class="ripple-effect">{{page}}</a></li>
								
								{% endif %}
							{% endfor %}
							
							{% if pages.has_next %}
							<li class="pagination-arrow">
								<a href="?page={{pages.next_page_number}}" class="ripple-effect">
									<i class="icon-material-outline-keyboard-arrow-right"></i>
								</a>
							</li>
							{% endif %}
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>
	</div>
</div>

<!-- page content ends -->

{% endblock content %}


{% block custom_js %}

{% endblock custom_js %}