{% extends 'user_templates/base2.html' %}
{% load static %}

{% block app_title %}
    Freelancers
{% endblock app_title %}


{% block content %}

<!-- Intro Banner
================================================== -->
<div class="intro-banner dark-overlay" data-background-image="{% static 'images2/home-background-02.jpg' %}">

	<!-- Transparent Header Spacer -->
	<div class="transparent-header-spacer"></div>

	<div class="container">
		
		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h3>
						<strong>Hire expert freelancers for any job, any time.</strong>
					</h3>
				</div>
			</div>
		</div>
		
		<!-- Search Bar -->
		<div class="row">
			<div class="col-md-12">
        <form class="intro-banner-search-form margin-top-95" method = "POST" action = "{% url 'search' %}"> {% csrf_token %}

					<!-- Search Field -->
					<div class="intro-search-field">
						<select class="selectpicker" title="All Categories" name = "search">
							{% for cat in categories %}
								<option value = {{cat.category_title}}> {{ cat.category_title }} </option>
							{% endfor %}
						</select>
					</div>

					<!-- Button -->
					<div class="intro-search-button">
						<button class="button ripple-effect" type = "submit">Search</button>
					</div>
				</form>
			</div>
		</div>

		<!-- Stats -->
		<div class="row">
			<div class="col-md-12">
				<ul class="intro-stats margin-top-45 hide-under-992px">
					<li>
						<strong class="counter">{{services}}</strong>
						<span>Freelancing services</span>
					</li>
					<li>
						<strong class="counter">{{freelancers}}</strong>
						<span>Freelancers</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>

<!-- Spacer -->
<div class="margin-top-90"></div>
<br><br>
<!-- Spacer / End-->


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
    
		<div class="col-xl-12 col-lg-12 content-left-offset">

			<h3 class="page-title">Search Results</h3>

			<div class="notify-box margin-top-15">
				<div class="switch-container">
					<label> Filtered Searches </label>
				</div>

				<div class="sort-by">
					<span>Sort by:</span>
					<select class="selectpicker hide-tick">
						<option>Relevance</option>
					</select>
				</div>
			</div>
			
			<!-- Freelancers List Container -->
			<div class="freelancers-container freelancers-grid-layout margin-top-35">

				{% for seller in pages %}
				<!--Freelancer -->
				<div class="freelancer">

					<!-- Overview -->
					<div class="freelancer-overview">
						<div class="freelancer-overview-inner">
							
							<!-- Bookmark Icon -->
							<!-- <span class="bookmark-icon"></span> -->
							
							<!-- Avatar -->
							<div class="freelancer-avatar">
								<div class="verified-badge"></div>
								<a href="{% url 'seller_profile' seller.id %}"><img src="{{seller.image}}" alt=""></a>
							</div>

							<!-- Name -->
							<div class="freelancer-name">
								<h4><a href=""> {{seller.admin.username}} <img class="flag" src="{% static 'images2/flags/nigerflag.jpeg' %}" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
								<span>{{ seller.sub_category.sub_category_title }}</span>
							</div>

							<!-- Rating -->
							<div class="freelancer-rating">
								<div class="star-rating" data-rating="5.0"></div>
							</div>
						</div>
					</div>
					
					<!-- Details -->
					<div class="freelancer-details">
						<div class="freelancer-details-list">
							<ul>
								<li>Location <strong><i class="icon-material-outline-location-on"></i> Nigeria </strong></li>
								<li>Rate <strong>$60 / hr</strong></li>
								<li>Job Success <strong>95%</strong></li>
							</ul>
						</div>
						<a href="{% url 'seller_profile' seller.id %}" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
					</div>
        		</div>
        		{% endfor %}
				<!-- Freelancer / End -->
	
			</div>
			<!-- Freelancers Container / End -->


			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
        <div class="col-md-12">
          <div class="pagination-container margin-top-60 margin-bottom-60">
            <nav class="pagination">
              <ul>
              {% if pages.has_previous %}
              <li class="pagination-arrow">
                <a href="?page={{pages.previous_page_number}}" class="ripple-effect">
                  <i class="icon-material-outline-keyboard-arrow-left"></i>
                </a>
              </li>
              {% endif %}
  
              {% for page in pages.paginator.page_range %}
                {% if pages.number == page %}
                <li><a href="?page={{page}}" class="current-page ripple-effect"> {{ page }}</a></li>
  
                {% else %}
                <li><a href="?page={{page}}" class="ripple-effect">{{page}}</a></li>
                
                {% endif %}
              {% endfor %}
              
              {% if pages.has_next %}
              <li class="pagination-arrow">
                <a href="?page={{pages.next_page_number}}" class="ripple-effect">
                  <i class="icon-material-outline-keyboard-arrow-right"></i>
                </a>
              </li>
              {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      	</div>
			<!-- Pagination / End -->

		</div>
	</div>
</div>



{% endblock content %}

{% block custom_js %}

{% endblock custom_js%}