{% extends 'user_templates/base3.html' %}
{% load static %}

{% block app_title %}
 404 Invalid
{% endblock app_title %}


{% block content %}

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>404 Not Found</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            {% if request.user.is_authenticated %}
                            <li>404 Not Found</li>
                            {% else %}
                            <li><a href="{% url 'landing_page' %}">Landing Page</a></li>
                            <li>404 Not Found</li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Page Content
    ================================================== -->
    <!-- Container -->
    <div class="container">

        <div class="row">
            <div class="col-xl-12">

                <section id="not-found" class="center margin-top-50 margin-bottom-25">
                    <h2>404 <i class="icon-line-awesome-question-circle"></i></h2>
                    <p>We're sorry, But the details filled-in is not correct</p><br>
                    <p>Please, Chekck And Try Again</p>
                </section>

            </div>
        </div>

    </div><br><br>
    <!-- Container / End -->

{% include 'user_templates/footer2.html' %}


{% endblock content %}
