

<!-- Dashboard Sidebar
================================================== -->
    <div class="dashboard-sidebar">
        <div class="dashboard-sidebar-inner" data-simplebar>
            <div class="dashboard-nav-container">

                <!-- Responsive Navigation Trigger -->
                <a href="#" class="dashboard-responsive-nav-trigger">
                    <span class="hamburger hamburger--collapse" >
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                    <span class="trigger-title">Dashboard Navigation</span>
                </a>
                
                <!-- Navigation -->
                <div class="dashboard-nav">
                    <div class="dashboard-nav-inner">

                        <ul data-submenu-title="Start">
                            {% url 'user_profile' as user_profile %}
                            <li class="{% if request.path == user_profile %} active {% endif %}"><a href="{{ user_profile }}"><i class="icon-material-outline-dashboard"></i>Dashboard</a></li>
                            <li><a href="#"><i class="icon-material-outline-question-answer"></i>Messages<span class="nav-tag">2</span></a></li>
                            {% if request.user.account_type == '3' %}
                            {% url 'seller_reviews' as seller_reviews %}
                            {% url 'create_service_service' as create_service_ %}
                            {% url 'manage_services' as manage_services %}
                            <li class="{% if request.path == seller_reviews %} active {% endif %}"><a href="{% url 'seller_reviews' %}"><i class="icon-material-outline-rate-review"></i>Reviews<span class="nav-tag">{{reviews}}</span></a></li>
                            <li class="{% if request.path == create_service_ %} active {% endif %}"><a href="{% url 'create_service_service' %}"><i class="icon-material-outline-brush"></i>Create Service</a></li>
                            <li class="{% if request.path == manage_services %} active {% endif %}"><a href="{% url 'manage_services' %}"><i class="icon-material-outline-account-balance"></i>Manage Services</a></li>
                            {% endif %}
                        </ul>
                        
                        <ul data-submenu-title="Organize and Manage">
                            <li><a><i class="icon-material-outline-assignment"></i>Tasks</a>
                                <ul>
                                    {% url 'manage_requests' as manage_requests %}
                                    {% url 'post_request' as post_request %}
                                    {% url 'manage_all_orders' as manage_all_orders %}
                                    {% url 'active_orders' as active_orders %}

                                    <li class="{% if request.path == manage_requests %} active {% endif %}"><a href="{% url 'manage_requests' %}">Manage Requests</a></li>
                                    <li class="{% if request.path == post_request %} active {% endif %}"><a href="{% url 'post_request' %}">Post a Request</a></li>
                                    <li class="{% if request.path == manage_all_orders %} active {% endif %}"><a href="{% url 'manage_all_orders' %}">Manage Orders</a></li>
                                    <li class="{% if request.path == active_orders %} active {% endif %}"><a href="{% url 'active_orders' %}">Active Orders</a></li>
                                </ul>	
                            </li>
                        </ul>

                        <ul data-submenu-title="Account">
                            {% url 'update_profile_seller' as update_profile_seller %}
                            <li class="{% if request.path == update_profile_seller %} active {% endif %}"><a href="{% url 'update_profile_seller' %}"><i class="icon-material-outline-settings"></i>Settings</a></li>
                            <li><a href="{% url 'logout_user' %}"><i class="icon-material-outline-power-settings-new"></i>Logout</a></li>
                        </ul>
                        
                    </div>
                </div>
                <!-- Navigation / End -->

            </div>
        </div>
    </div>
    <!-- Dashboard Sidebar / End -->