{% extends 'user_templates/base3.html' %}

{% block app_title %}
    Settings
{% endblock app_title %}


{% block content %}

{% if request.user.account_type == "2" %}

	<!-- Dashboard Container -->
	<div class="dashboard-container">

		{% include 'user_templates/buyer_sidebar.html' %}

        <!-- Dashboard Content
        ================================================== -->
        <div class="dashboard-content-container" data-simplebar>
            <div class="dashboard-content-inner" >
                
                <!-- Dashboard Headline -->
                <div class="dashboard-headline">
                    <h3>Settings</h3>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            <li><a href="{% url 'smart_home' %}">Home</a></li>
                            <li><a href="{% url 'user_profile' %}">Dashboard</a></li>
                            <li>Settings</li>
                        </ul>
                    </nav>
                </div>
        
                <!-- Row -->
                <form class="row" method = "POST" action = "{% url 'update_profile_buyer_save' %}" enctype="multipart/form-data"> 
                {% csrf_token %}

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-account-circle"></i> My Account Info </h3>
                            </div>

                            <div class="content with-padding padding-bottom-0">

                                <div class="row">

                                    <div class="col-auto">
                                        <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                            <img class="profile-pic" src="{{ buyer.image }}" alt="" />
                                            <div class="upload-button"></div>
                                            <input class="file-upload" type="file" name = "image" accept="image/*"/>
                                        </div>
                                        <div>
                                            <h4> <b>Joined since: {{ buyer.return_time }} </b></h4>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="row">

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5> Username </h5>
                                                    <input type="text" class="with-border" value="{{buyer.admin.username}}" disabled>
                                                    <input type = "hidden" value = {{buyer.admin.id}} name = "user_id">
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Shortname</h5>
                                                    <input type="text" class="with-border" value="{{buyer.short_name}}" name="shortname">
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <!-- Account Type -->
                                                <div class="submit-field">
                                                    <h5>Account Type</h5>
                                                    <div class="account-type">
                                                    {% if request.user.account_type == '2'%}
                                                        <div>
                                                            <input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio" checked/>
                                                            <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
                                                        </div>
                                                    {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Email</h5>
                                                    <input type="text" class="with-border" value="{{ buyer.admin.email}}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class = "row">
                        {% if messages %}
                            <div class = "col-xl-12">
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class = "alert alert-danger mt-4 ml-3 text-dark" style = "width:100%;">
                                            {{message}}
                                        </div>
                                    {% endif %}
                                    {% if message.tags == 'success' %}
                                        <div class = "alert alert-success ml-3 mt-4 text-dark" style = "width:100%;">
                                            {{message}}
                                        </div>
                                    {% endif %}
                                {%endfor %}
                            </div>              
                        {% endif %}
                    </div>
                    
                    <!-- Button -->
                    <div class="col-xl-12">
                        <button type = "submit" class="button ripple-effect big margin-top-30">Save Changes</button>
                    </div>

                </form>
                <!-- Row / End -->

                {% include 'user_templates/footer_dashboard.html'%}

            </div>
        </div>
        <!-- Dashboard Content / End -->

	
	</div>
	<!-- Dashboard Container / End -->

{% endif %}

{% endblock content %}



{% block custom_js %}
<script>
    $(document).ready(function(){

    });
</script>
{% endblock custom_js %}
