{% extends 'user_templates/base3.html' %}
{% load static %}

{% block app_title %}
    Settings
{% endblock app_title %}


{% block content %}

{% if request.user.account_type == "3" %}

	<!-- Dashboard Container -->
	<div class="dashboard-container">

        {% include 'user_templates/seller_sidebar.html' with reviews=reviews %}


        <!-- Dashboard Content
        ================================================== -->
        <div class="dashboard-content-container" data-simplebar>
            <div class="dashboard-content-inner" >
                
                <!-- Dashboard Headline -->
                <div class="dashboard-headline">
                    <h3>Settings</h3>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            <li><a href="{% url 'smart_home' %}">Home</a></li>
                            <li><a href="{% url 'user_profile' %}">Dashboard</a></li>
                            <li>Settings</li>
                        </ul>
                    </nav>
                </div>
        
                <!-- Row -->
                <form class="row" method = "POST" action = "{% url 'update_profile_seller_save' %}" enctype="multipart/form-data"> 
                {% csrf_token %}

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-account-circle"></i> My Account Info</h3>
                            </div>

                            <div class="content with-padding padding-bottom-0">

                                <div class="row">

                                    <div class="col-auto">
                                        <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                            <img class="profile-pic" src="{{ seller.image }}" alt="" />
                                            <div class="upload-button"></div>
                                            <input class="file-upload" type="file" name = "image" accept="image/*"/>
                                        </div>
                                        <div>
                                            <h4> <b>Joined since: {{ seller.return_time }} </b></h4>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="row">

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Username</h5>
                                                    <input type="text" class="with-border" value="{{seller.admin.username}}" disabled>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Shortname</h5>
                                                    <input type="text" class="with-border" value="{{seller.short_name}}" name = "shortname">
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <!-- Account Type -->
                                                <div class="submit-field">
                                                    <h5>Account Type</h5>
                                                    <div class="account-type">
                                                    {% if request.user.account_type == '3'%}
                                                        <div>
                                                            <input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked/>
                                                            <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Freelancer </label>
                                                        </div>
                                                    {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Email</h5>
                                                    <input type="text" class="with-border" value="{{ seller.admin.email }}" disabled>
                                                    <input type = "hidden" name = "user_id" value = "{{ seller.admin.id }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-face"></i> More Info</h3>
                            </div>

                            <div class="content">
                                <ul class="fields-ul">
                                <li>
                                    <div class="row">

                                        <div class="col-xl-6">
                                            <div class="submit-field">
                                                <h5>Firstname</h5>
                                                <input type="text" class="with-border" value="{{seller.admin.first_name}}" name = "firstname">
                                            </div>
                                        </div>

                                        <div class="col-xl-6">
                                            <div class="submit-field">
                                                <h5>Lastname</h5>
                                                <input type="text" class="with-border" value="{{seller.admin.last_name}}" name = "lastname">
                                            </div>
                                        </div>

                                        <div class="col-xl-6">
                                            <div class="submit-field">
                                                <h5>Occupation</h5>
                                                <input type="text" class="with-border" value="{{seller.category.category_title}}" disabled>
                                            </div>
                                        </div>

                                        <div class="col-xl-6">
                                            <div class="submit-field">
                                                <h5>Address</h5>
                                                <input type="text" class="with-border" value="{{seller.address}}" name = "address">
                                            </div>
                                        </div>

                                        <div class="col-xl-6">
                                            <div class="submit-field">
                                                <h5>Cell Number</h5>
                                                <input type="text" class="with-border" value="{{seller.phone_number}}" name = "phone">
                                            </div>
                                        </div>

                                        <div class="col-xl-6">
                                            <div class="submit-field">
                                                <h5>Level</h5>
                                                <input type="text" class="with-border" value="{{ seller.experience_level.level}}" name = "level" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class = "row">
 
                                        <div class="col-xl-12">
                                            <div class="submit-field">
                                                <h5>Description</h5>
                                                <textarea cols="30" rows="3" class="with-border" value = {{seller.description}} disabled> {{ seller.description }} </textarea>
                                            </div>
                                        </div>

                                        <div class="col-xl-12">
                                            <div class="submit-field">
                                                <h5>Update Your Description here</h5>
                                                <input type="text" class="with-border" name = "description">
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class = "row">
                        {% if messages %}
                            <div class = "col-xl-12">
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class = "alert alert-danger mt-4 ml-3 text-dark" style = "width:100%;">
                                            {{message}}
                                        </div>
                                    {% endif %}
                                    {% if message.tags == 'success' %}
                                        <div class = "alert alert-success ml-3 mt-4 text-dark" style = "width:100%;">
                                            {{message}}
                                        </div>
                                    {% endif %}
                                {%endfor %}
                            </div>              
                        {% endif %}
                    </div>
                    
                    <!-- Button -->
                    <div class="col-xl-12">
                        <button type = "submit" class="button ripple-effect big margin-top-30">Save Changes</button>
                    </div>

                </form>
                <!-- Row / End -->

                {% include 'user_templates/footer_dashboard.html'%}

            </div>
        </div>
        <!-- Dashboard Content / End -->

	
	</div>
	<!-- Dashboard Container / End -->

{% endif %}

{% endblock content %}




{% block custom_js %}
<script>
    $(document).ready(function(){

    });
</script>
{% endblock custom_js %}
