{% extends 'user_templates/base.html' %}

{% block title %}
    user
{% endblock title %}

{% block content %}
<br><br><br>
    
<main class = "container mt-5 mb-5">
    <div class = "row">
        <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class = "card">
                <div class ="card-header">
                    <div class = "card-title"> 
                        <h2> <b>Profile Information</b> </h2>
                        <small class = "text-muted"> <b>Profile Information (private) Tell us a bit about your needs and get customized recommendations. Don’t worry, this information will remain private, and will not be displayed on the platform</b> </small>
                    </div>
                </div>
                <!--============= buyer =============== -->
                {% if request.user.account_type == '2' %}
                    <div class = "card-body">
                        <div class = "text-center mb-3">
                            <img src = "{{buyer.image}}" class = "rounded-circle img-card2">
                            <h4 class = "text-center mt-3"> @{{buyer.admin.username}}</h4>

                            <a href = "{% url 'update_profile_buyer' %}" class = "btn btn-outline-transparent mt-2 waves-effect" style = "width:100%;"> <b>Update My Profile <i class = "fas fa-arrow-circle-right"> </i> </b> </a> 
                        </div><hr class = "mt-3"> 
                        <div style = "width:100%;">
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-mail-bulk mr-2"> </i> MAIL ADDRESS </p>
                                <small class = "h6"> <b>{{buyer.admin.email}} </b></small>
                            </div>
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-user-circle mr-2"> </i> ACCOUNT TYPE  </p>
                                <small class = "h6"> {% if buyer.admin.account_type == '2' %} Buyer {% endif %} </b> </small>
                            </div>
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-user-check mr-2"> </i> MEMBER SINCE  </p>
                                <small class = "h6"> <b>{{buyer.created}} </b></small>
                            </div>
                        </div><hr>
                        <a href = "{% url 'update_profile_buyer' %}" class = "btn btn-outline-transparent mt-2 waves-effect" style = "width:100%;"> <b>Update My Profile <i class = "fas fa-arrow-circle-right"> </i></b> </a>
                    </div>
                <!-- ============= seller ============ -->
                {% elif request.user.account_type == '3' %}
                    <div class = "card-body">
                        <div class = "text-center mb-3">
                            <img src = "{{seller.image}}" class = "rounded-circle img-card2">
                            <h4 class = "text-center mt-3"> @{{seller.admin.username}}</h4>
                            <a href = "{% url 'update_profile_seller' %}" class = "btn btn-outline-transparent mt-2 waves-effect" style = "width:100%;"> <b>Update My Profile <i class = "fas fa-arrow-circle-right"> </i> </b> </a> 
                        </div><hr class = "mt-3"> 
                        <div style = "width:100%;">
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-mail-bulk mr-2"> </i> MAIL ADDRESS </p>
                                <small class = "h6"> <b>{{seller.admin.email}} </b></small>
                            </div>
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-user-circle mr-2"> </i> STATUS  </p>
                                <small class = "h6"> {% if seller.admin.account_type == '3' %} Seller {% endif %} </b> </small>
                            </div>
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-user mr-2"> </i> SHORTNAME  </p>
                                <small class = "h6"> {{ seller.short_name }}</b> </small>
                            </div>
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-file-medical-alt mr-2"> </i> DESCRIPTION  </p>
                                <small class = "h6"> {{ seller.description }}</b> </small>
                            </div>
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-user-md mr-2"> </i> OCCUPATION  </p>
                                <small class = "h6">{{ seller.category.category_title }} </b> </small>
                            </div>
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-phone mr-2"> </i> CELL PHONE  </p>
                                <small class = "h6"> {{ seller.phone_number }} </b> </small>
                            </div>
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-map-marker-alt mr-2"> </i> ADDRESS  </p>
                                <small class = "h6"> {{ seller.address }} </b> </small>
                            </div>
                            <div class = "mb-5">
                                <p class = "strong mb-2"> <i class = "fas fa-user-check mr-2"> </i> MEMBER SINCE  </p>
                                <small class = "h6"> <b>{{ seller.created }} </b></small>
                            </div>
                        </div> 
                        <hr>
                        <a href = "{% url 'create_service_service' %}" class = "btn btn-outline-transparent mt-2 waves-effect" style = "width:100%;"> <b> Create Service <i class = "fas fa-arrow-circle-right"> </i></b> </a>
                    </div>
                {% else %}
                    <div class = "card-body">
                        <h2> No profile found </h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>

{% endblock content %}
