{% extends 'admin_templates/base.html' %}
{% load static %}

{% block title %} Create {% endblock title %}

{% block page_title %} Create Buyer {% endblock page_title %}

{% block main_content %}
  <section class="content">
    <div class="container-fluid">
      <div class = "row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> Create User </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method = "POST" action = "{% url 'create_buyer_save' %}" enctype="multipart/form-data"> {% csrf_token %}
                <div class="card-body">

                  <div class="form-group">
                    <label for="id_email">Email address</label>
                    <input type="email" class="form-control" id="id_email" placeholder="enter email" name = "email">
                  </div>

                  <div class="form-group">
                    <label for="short_name">Short Name</label>
                    <input type="text" class="form-control" id="short_name" placeholder="enter shortname" name = "short_name">
                  </div>

                  <div class="form-group">
                    <label for="id_username">Username</label>
                    <input type="text" class="form-control" id="id_username" placeholder="enter username" name = "username">
                  </div>

                  <div class="form-group">
                    <label for="image"> Profile Image</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" name = "image">
                        <label class="custom-file-label" for="image">Choose image</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="enter password" name = "password">
                  </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                {% if messages %}
                    <div class = "col-12">
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class = 'alert alert-danger' style = "margin-top:7px;"> {{ message }} </div>
                        {% elif message.tags == 'success' %}
                            <div class = 'alert alert-success' style = "margin-top:7px"> {{ message }}</div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
              </form>
            </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main_content %}

{% block custom_js %} 
  <script>
    $(document).ready(function(){
      // =============== email check ==============

      $("#id_email").keyup(function(){
        var email = $(this).val();
        if (email!="") {
        $.ajax({
          url:"{% url 'check_email' %}",
          type:"POST",
          data:{email:email}

        })
        .done(function(response){
          console.log(response)
          if(response == 'True'){

            $(".email_error").remove();
            $("<span class = 'email_error' style='padding:5px; color:red; font-weight:normal; font-family:helvetica;'> Email Not Available </span>").insertAfter("#id_email")
         
          } else {

            $(".email_error").remove();
            $("<span class = 'email_error' style='padding:5px; color:green; font-weight:normal; font-family:helvetica;'> Email Available </span>").insertAfter("#id_email")
          }

        })
        .fail(function(){
          console.log("Failed")
        })
      } else {
        $(".email_error").remove();
      }

      });

      // =============== username check ==============

      $("#id_username").keyup(function(){
        var username = $(this).val();
        if (username!=""){
          $.ajax({
            url:"{% url 'check_username' %}",
            type:"POST",
            data:{username:username}

          })
          .done(function(response){
            console.log(response)
            if(response == 'True'){

              $(".username_error").remove();
              $("<span class = 'username_error mt-2' style='padding:5px; color:red; font-weight:normal; font-family:helvetica;'> Username Not Available </span>").insertAfter("#id_username")
          
            } else {

              $(".username_error").remove();
              $("<span class = 'username_error mt-2' style='padding:5px; color:green; font-weight:normal; font-family:helvetica;'> Username Available </span>").insertAfter("#id_username")
            }

          })
          .fail(function(){
            console.log("Failed")
          })

      } else {
        $(".username_error").remove();
      }

        });

    });
  </script>
{% endblock custom_js %}
