.ml-12{
    margin-left:10em;
}

.ml-8{
    margin-left:7em;
}


.mt-8{
    margin-top:10px;
}
.mr-12{
    margin-right:10em;
}

.mr-8{
    margin-right:6em;
}

.steel{
    background-color:#929fba;
}

.navcol{
    color:#929fba;
}


.gowidecol{
    color:#374259;
}

.img-card2{
    width:210px;
    height:200px;
}